/* For Webkit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  
  background-color: #58738d;
}

::-webkit-scrollbar-track {
  background: #879bae;
  
}

/* For Firefox */

* {
  scrollbar-color: #58738d #f0f0f0;
}

*::-moz-scrollbar-thumb {
  background-color: #58738d;
}

*::-moz-scrollbar-track {
  background-color: #58738d;
}

:root {
  --bg-pri-clr: #879bae;

  --pri-clr: #0b263f;
  --sec-clr: #58738d;
  --acc-clr: #dab681;

  --nav-pri-clr: #203f5d;
  --nav-active-clr: #0b263f;

  --btn-border-clr: #0b263f;
  --border-radius: 5px;

  --fs-heading: 48px;
  --fs-subheading: 32px;
  --fs-para-lg: 24px;
  --fs-para-md: 20px;
  --fs-para-sm: 16px;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-pri-clr);

  font-size: var(--fs-para-md);
  font-weight: var(--fw-500);
}

h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-700);
}

.home-heading {
  font-size: 60px;
}

h2 {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-700);
}

h3 {
  font-size: var(--fs-para-lg);
  font-weight: var(--fw-700);
}

p {
  line-height: 1.75;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-700);
  }

  .home-heading {
    font-size: 52px;
  }

  h2 {
    font-size: var(--fs-para-lg);
    font-weight: var(--fw-700);
  }

  p {
    font-size: var(--fs-para-sm);
  }
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  right: 0%;
  height: 100vh;
  max-width: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

/* navbar */

nav {
  color: var(--nav-pri-clr);
  font-weight: var(--fw-600);
}

.nav-link {
  transition: color 0.2s ease-in-out,
    text-decoration-color 0.2s ease-in-out 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--acc-clr);
  text-decoration-thickness: 20%;

  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;

  color: var(--nav-active-clr);

  cursor: pointer;
}

.active-nav{
  text-decoration: underline;
  text-decoration-color: var(--acc-clr);
  text-decoration-thickness: 20%;

  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;

  color: var(--nav-active-clr);

  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 764px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    margin-inline: 5px;
  }
}

/* home */

.home {
  position: relative;
}

.home-star-pattern {
  position: absolute;
  top: -30px;
  left: -60px;
  animation: spin 10s linear infinite;
}

@media (max-width: 768px) {
  .home-star-pattern {
    top: -60px;
    left: -20px;
  }
}

.home-line-pattern {
  position: absolute;
  bottom: -20px;
  right: -25px;
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.home-resume-btn {
  padding: 8px;

  font-size: var(--fs-para-sm);
  font-weight: var(--fw-600);

  border-radius: var(--border-radius);

  background-color: var(--pri-clr);
  color: white;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out 0.2s;
}

.home-resume-btn:hover {
  background-color: var(--acc-clr);
  color: var(--pri-clr);
}

/* about page */

/* .about-page-content span {
  color: hsla(207, 24%, 41%, 0.2);

  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, #0b263f, #0b263f);

  animation: about-page-content linear forwards;
  animation-timeline: view();
}

.about-page-content p span {
  animation-range-start: cover 50vh;
  animation-range-end: cover 80vh;
}

@keyframes about-page-content {
  to {
    background-size: 100% 100%;
  }
} */

.about-page-content span {
  color: hsla(207, 24%, 41%, 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, #0b263f, #0b263f);
}

.about-page-content p span {
  display: inline-block;
  overflow: hidden;
}


.btn-style {
  padding: 8px;

  border: 2px solid var(--pri-clr);
  border-radius: 5px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out 0.2s;
}

.btn-style:hover{
  background-color: var(--pri-clr);
  color:white;
}

.about-btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
}



.btn-icon {
  display: none;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.btn-style:hover .btn-icon {
  display: block;
  opacity: 1; 
}


.project-content{
  font-size: var(--fs-para-sm);
  font-weight: var(--fw-400);
}

.project-wrapper  a:hover{
  color:var(--acc-clr)
}

